/* =============================================================================
   Cube
============================================================================= */

$cube-size: 150px;

.cube {
  margin: 0;
  width: $cube-size;
  height: $cube-size;

  perspective: 100000px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 110px;

  animation-name: cube-rotation;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  > div {
    background: #eee;
    backface-visibility: visible;
    position: absolute;
    border: 5px solid #000;
    opacity: 0.6;
    width: $cube-size;
    height: $cube-size;
    color: #fff;
    font-weight: bold;
    transform-style: preserve-3d;

    font-size: 50px;
    line-height: $cube-size;
    display: block;
    text-align: center;
  }


  .face-a {
    background: red;
    transform-origin: 100% 100%;
    transform: rotateX(-90deg);
  }

  .face-b {
    background: blue;
  }

  .face-c {
    background: green;
    transform-origin: 0% 0%;
    transform: rotateX(90deg);
  }

  .face-d {
    background: yellow;
    transform-origin: 0% 0%;
    transform: rotateY(-90deg);
  }

  .face-e {
    background: pink;
    transform-origin: 100% 100%;
    transform: rotateY(90deg);
  }

  .face-f {
    background: purple;
    transform-origin: 0 0;
    transform: translateZ($cube-size);
  }

}


@keyframes cube-rotation {

  to {
    transform: rotateY(200deg) rotateZ(45deg);
  }

}
