/* =============================================================================
   Stage
============================================================================= */

body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.stage {
  position: relative;
  transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg);
  transform-origin: 0 100% 0;
  perspective: 100000px;
  transform-style: preserve-3d;
  width: 500px;
  margin: 0 auto;


  animation-name: move-stage;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.axes {
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 1px solid red;
  height: 100px;
  width: 100px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100px;
    background-color: blue;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    height: 100px;
    width: 1px;
    background-color: green;
    transform: rotateX(-90deg);
    transform-origin: 0 100%;
  }

}

